# Pacotes principais para compilar e executar o pipeline do Vertex AI
google-cloud-aiplatform
kfp==2.13.0
google-cloud-pipeline-components

# Pacote adicionado para resolver o conflito de versão visto nos logs de erro
# kfp==2.13.0 exige uma versão do protobuf < 5.0
protobuf<5.0
